body{
width:100%;
max-width:1000px;
margin:0 auto;
padding:0;
background:white;
font-family:sans-serif;
height:200%;
}
.container{
width:100%;
max-width:1000px;
}
.title{
width:100%;
max-width:400px;
margin-top:30px;
}.title h1{
font-weight:lighter;
}

form{
width:100%;
max-width:1000px;
margin:0 auto;
border:0px solid grey;
display:flex;
justify-content:space-around;
}
.flexer{
width:100%;
max-width:555px;
margin-top:40px;
display:flex;
justify-content:space-around;
border:0px solid grey;
padding:40px;
border-radius:10px;
background:ghostwhite
}

form .options{
width:100%;
max-width:280px;
/* height:330px; */
border:0px solid grey;
}.options h4{
color:chocolate;
}.options .item{
            background:white;
width:100%;
max-width:250px;
display:flex;
justify-content:space-between;
box-shadow:0px 0px 2px black;
border-radius:5px;
margin-bottom:20px;
}.item label{
font-size:13px;
margin:10px;
}.item img{
width:50px;
height:50px;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
}.item:hover{
background:#222;
color:white;
}

form .sender{
width:100%;
max-width:350px;
height:350px;
border:0px solid black;
border-left:0px;
margin-top:40px;
border-radius:10px;
}form .sender div{
width:100%;
max-width:250px;
margin:10px auto;
}form .sender div input{
width:100%;
margin-bottom:10px;
height:30px;
border:0px;
border-radius:2px;
box-shadow:0px 0px 2px grey;
outline:none;
}.sender div input:hover{
border:2px solid royalblue;
box-shadow:5px 5px 5px grey;
border-radius:5px;
}form .sender div button{
background:#222;
color:white;
border:0px;
width:80px;
height:25px;
cursor: pointer;
}.sender div button:hover{
box-shadow:5px 5px 5px grey;
width:100px;
}